BLOG_NAME = "{{ blog_name }}"
BLOG_SLUG = "{{ blog_slug }}"
BLOG_URL = "https://{{ github_repo | replace('/', '.github.io/') }}/"
BLOG_GITHUB = "{{ github_repo }}"
BOT_NAME = "{{ blog_slug }}-bot"
BOT_EMAIL = "{{ blog_slug }}-bot@users.noreply.github.com"
BLOG_DESCRIPTION = "{{ blog_description }}"
BOT_USER_AGENT = f"{BOT_NAME}/1.0 (github.com/{BLOG_GITHUB})"
